---
# secrets-api用のデプロイタスク（ファイルコピーはmain.ymlで実施済み）

- name: Deploy secrets-api application code from GitHub
  ansible.builtin.git:
    repo: "https://{{ github_token_secrets }}@github.com/{{ github_owner }}/{{ service_repo_names.secrets }}.git"
    dest: "{{ deployment_paths.src_dir }}/{{ service_repo_names.secrets }}"
    version: "{{ secrets_ref | mandatory('secrets_ref must be provided') }}"
    force: yes
  become: yes
  become_user: "{{ app_user }}"
  tags: [secrets, deploy-secrets, deploy-all]
