version=Nginx800-3
hostname=
admin_service={{ waf_admin_service | default('no') }}
notify_service=yes
http_service=yes
enabled={{ waf_enabled | default('yes') }}
notify_admin=no
notify_fault=no
notify_admin_daily=no
notify_admin_interval=10
notify_admin_hour=0
notify_admin_minute=0
notify_admin_max_detail=100
notify_fault_daily=no
notify_fault_interval=10
notify_fault_hour=0
notify_fault_minute=0
notify_fault_max_detail=100
admin_mailaddr=drop@your-domain.xx.jp
admin_fromaddr=
admin_mx_host=smtp.your-domain.xx.jp
admin_mx_port=25
admin_smtp_password=
admin_smtp_username=
admin_encryption=yes
admin_encryptionmethod=SMTPS
check_urldecode=no
check_urldecode_action=block
max_params_num=3000
max_params_num_action=block
max_post_memory_store_size=10000000
max_post_file_size=2000000000
cutthrough_url=no
detect_log_switch=file
info_log_switch=file
error_log_switch=file
form_log_switch=file
syslog_tag=siteguard
detect_syslog=local0.err
info_syslog=local0.err
error_syslog=local0.err
form_syslog=local0.err
htaccess_exclude_sig=no
max_counter_num=50000
filter_lifetime=300
srcip_x_forwarded_for=no
srcip_x_forwarded_for_mode=level
srcip_x_forwarded_for_level=0
srcip_x_forwarded_for_access_deny=no
check_cookie=no
encrypt_cookie=no
cookie_key={{ waf_cookie_key | default('bOb8bD9GNA3D9M9LogTAPhm6HKrz9DgHPzkic8DBSaw=') }}
cookie_exclude_name_list=
cookie_add_secure=no
cookie_add_secure_name_list=
remove_resphead=yes
remove_resphead_list=x-powered-by
insert_resphead=yes
insert_resphead_list=x-frame-options:SAMEORIGIN,x-xss-protection:1;mode=block,x-content-type-options:nosniff,strict-transport-security:max-age=31536000
statistics=no
use_mod_ruid=no
no_log_signame=
health_check_pattern=WAF-TEST-HEALTHCHECK
base64decode_enabled=yes
base64decode_exclude_name_list=

[admin]
acl_for_ssl_proxy=yes
lang=en
account_lock_num=3
agent=yes

serial={{ waf_serial_key | mandatory('waf_serial_key must be set (e.g. GitHub Secrets WAF_SERIAL_KEY)') }}
