---
- name: Deploy Secrets API
  hosts: "{{ target_hosts }}"
  become: "{{ ansible_become | mandatory('ansible_become must be set in inventory') }}"

  tasks:
    - name: Deploy Secrets API code and config
      ansible.builtin.include_role:
        name: secrets
        tasks_from: main
      tags:
        - secrets
        - deploy-secrets

    - name: Update docker-compose and restart secrets-api
      ansible.builtin.include_role:
        name: docker
        tasks_from: deploy_compose
      vars:
        service_name: secrets
      tags:
        - docker
        - deploy-compose
        - restart-secrets

    - name: Update secrets-api container (pull and recreate)
      ansible.builtin.include_role:
        name: docker
        tasks_from: container/update/update_secrets_image
      tags:
        - docker
        - update-secrets-image
        - restart-secrets